{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}
<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>{{ object.title }}</title>
        <link type="application/rss+xml" rel="alternate" title="{{ object.title }}" href="https://{{ request.get_host }}{% url 'publish_podcast:podcast-rss' object.owner.id object.id %}" />

        <link rel="stylesheet" href="{% static 'style/null.css' %}">
        <link rel="stylesheet" href="{% static 'style/podcast.css' %}">
        <link rel="stylesheet" href="{% static 'style/media-podcast.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    </head>

    <body>
        <div class="blur-block-header">
            <div class="blur-blur"></div>
            <div class="blur-transparency white"></div>
            <div class="blur-conteiner podcast_header">
                <div class="podcast_block">
                    <div class="podcast_block_img">
                        <img class="podcast_block_img-img" src="{{ MEDIA_PREFIX }}{{ object.image }}" alt="">
                    </div>
                    <div class="podcast_block_info">
                        <div class="podcast_block_authot">
                            {{ object.author }}
                        </div>
                        <div class="podcast_block_name">
                            {{ object.title }}
                        </div>
                        <div class="podcast_block_episods">
                            {{ object.episodes.count }}
                        </div>
                        <!-- добавить описание {{ object.description }} -->
                    </div>
                </div>
            </div>
        </div>
        <div class="blur-block-content">
            <div class="blur-blur blur-blur-content"></div>
            <div class="blur-transparency black"></div>
            <div class="blur-conteiner content" id="content">
                {% for episode in object.episodes.all|dictsort:"created_date" reversed %}
                <div class="podcast_episode">
                    <div class="episode_header">
                        <div class="episode_header_date">
                            {{ episode.created_date }}
                        </div>
                        <div class="episode_header_img_and_btn">
                            <div class="btn-paly icon-play" id="{{ forloop.counter0 }}">
                            </div>
                        </div>
                        <div class="episode_header_time">
                            {{ episode.duration }}
                        </div>
                    </div>
                    <div class="episode_content">
                        <div class="episode_content_title">
                            {{ episode.title }}
                            <div class="episode_content_liner"></div>
                        </div>
                        <pre class="episode_content_description description-min">
                        {{ episode.description }}
                        </pre>
                        <input class="episode_content_description_btn" type="button" name="" value="...more">
                    </div>
                </div>
                {% endfor %}
            </div>
            <footer>
                <address class="footer-text">
                    © 2019 Video2Cast.com
                    <nav>
                        <a href="{% url 'privacy_policy' %}">Privacy policy</a>
                    </nav>
                </address>
            </footer>


            <!-- подключаем все скрипты -->

            <script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
            <script type="text/javascript">
                const USER_ID = {{ object.owner.id }};
                const PODCAST_ID = {{ object.id }};
                // function drawEpisod(item) {
                //     return `
                //     <div class="episode_header">
                //         <div class="episode_header_date">
                //             сегодня
                //         </div>
                //         <div class="episode_header_img_and_btn">
                //             <img class="episode_header_img"
                //                 src=""
                //                 alt="">
                //         </div>
                //         <div class="episode_header_time">
                //             48 мин
                //         </div>
                //     </div>
                //     <div class="episode_content">
                //         <div class="episode_content_title">
                //             Название эпизода
                //             <div class="episode_content_liner"></div>
                //         </div>
                //         <pre class="episode_content_description description-min">
                //             Какая-то краткая информация Какая-то краткая информация Какая-то краткая информация Какая-то краткая информация Какая-то краткая информация Какая-то краткая информация Какая-то краткая информация Какая-то краткаяКакая-то
                //             краткая информация Какая-то краткая информация Какая-то краткая информация Какая-то краткая информация
                //             информация Какая-то краткая информация Какая-то краткая информация
                //         </pre>
                //
                //         <input class="episode_content_description_btn" type="button" name="" value="...more">
                //     </div>
                //     `;
                // }
                //
                // function play_episod() {
                //     let contain = document.getElementById("content");
                //     for (let i = 0; i < 2; i++) {
                //         contain.innerHTML += `
                //             <div class="podcast_episode">
                //                 ${drawEpisod()}
                //             </div>
                //         `;
                //     }
                //
                // }

                function whaitClick() {

                    $('.episode_content_description_btn').on('click', function(event) {
                        event.preventDefault();
                        btn = $('.episode_content_description_btn');
                        index = btn.index(this);
                        value = btn[index].value;
                        if (value == "meny...") {
                            btn[index].value = `...more`;
                        } else {
                            btn[index].value = `meny...`;
                        }
                        description = $('.episode_content_description')[index];
                        $(description).toggleClass('description-min');
                        $(description).toggleClass('description-max');
                        title = $('.episode_content_title')[index];
                        $(title).toggleClass('description-max');
                    });
                }

                whaitClick();
            </script>
            <script type="text/javascript" src="{% static 'scripts/publish/podcast.js' %}"></script>
    </body>

</html>
