{% extends 'main.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'style/media-main.css' %}">
{% endblock head %}
{% block content %}
    {% get_media_prefix as MEDIA_PREFIX %}
    <div class="feed-box">
        <div class="feed-title">
            Indexed:
        </div>
        <div class="feed index_">
            {% for podcast in last_indexes %}
                <div class="feed-block_index">
                    <a href="{% url 'publish_podcast:podcast-detail' podcast.owner.id podcast.id %}">
                        <div class="feed-block-img"
                             style="background-image: url('{{ MEDIA_PREFIX }}{{ podcast.image }}')"></div>
                        <div class="feed-block-title">
                            <div class="feed-block-title-hidden"></div>
                            <div class="feed-block-title-text">
                                {{ podcast.title }}
                            </div>
                        </div>
                    </a>
                    <div class="feed-block-leaving-menu">
                        {% if podcast.link_apple %}
                            <a target="_blank" href="{{ podcast.link_apple }}" class="feed-block-leaving-menu-item apple-logo">
                            </a>
                        {% endif %}
                        {% if podcast.link_google %}
                            <a target="_blank" href="{{ podcast.link_google }}" class="feed-block-leaving-menu-item google-logo">
                            </a>
                        {% endif %}
                        {% if  podcast.link_spotify %}
                            <a target="_blank" href="{{ podcast.link_spotify }}" class="feed-block-leaving-menu-item spotify-logo">
                            </a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="feed-box">
        <div class="feed-title">
            New:
        </div>
        <div class="feed new_">
            {% for podcast in last_podcasts %}
                <div class="feed-block_index">
                    <a href="{% url 'publish_podcast:podcast-detail' podcast.owner.id podcast.id %}">
                        <div class="feed-block-img"
                             style="background-image: url('{{ MEDIA_PREFIX }}{{ podcast.image }}')"></div>

                        <div class="feed-block-title">
                            <div class="feed-block-title-hidden"></div>
                            <div class="feed-block-title-text">
                                {{ podcast.title }}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
