{% extends 'main.html' %}
{% block content %}
    {% if user.is_authenticated  %}
        Hello {{ user.first_name }} {{ user.last_name }}!
    {% endif %}
{% endblock content %}
{% block js %}

    function block_new() {
        return ``;
    }

    function block_index() {
        return ``;
    }

    function drow_feed_new() {
        for (var i = 0; i < .length; i++) {
            [i]
        }
    }

    function drow_feed_index() {
        f
    }

    function (){

    }

{% endblock js %}
