{% extends 'main.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'style/add-video.css' %}">
    <link rel="stylesheet" href="{% static 'style/media-add-video.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
{% endblock head %}
{% block content %}
    <header>
        <div class="header-center">
            <input id="search-request" class="input-name" type="text" name="search videos" value="" maxlength="25" placeholder="Search">
            <input class="input-name-btn" type="button" name="button search" value="">
        </div>
        <div class="header-right">
            <div class="score-video">
                Choose:
                <div id="selected-score"> 0</div>
            </div>
            <input class="input-video-btn" type="button" name="button search" value="Next">
        </div>
    </header>
    <div id="video-list" class="video-blox">
    </div>
{% endblock content %}
{% block js %}
    <script type="text/javascript">
    let podcast_selected = {% if podcast %}{{ podcast }}{% else %} null {% endif %};
    </script>
    <script type="text/javascript" src="{% static 'scripts/mypodcasts/add_episodes.js' %}"></script>
{% endblock js %}
