{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-143546509-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());
        gtag('config', 'UA-143546509-1');
    </script>
    <title>{% block title %}Video2Cast{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'style/null.css' %}">
    <link rel="stylesheet" href="{% static 'style/main.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Ramabhadra|Righteous&display=swap" rel="stylesheet">
    <script>
        const CRSF_TOKEN = "{{ csrf_token }}";
    </script>
    {% block head %}
    {% endblock head %}
    ﻿
</head>
﻿
<body>
<div class="blur-block header">
    {% block header %}
        <div class="blur-blur"></div>
        <div class="blur-transparency black"></div>
    {% endblock header %}
    {% block nav %}
        <div class="blur-conteiner nav">
            <menu>
                <li>
                    <a href="{% url 'index' %}">
                        <div class="nav-button">
                            <div class="nav-button-icon"></div>
                            <div class="nav-button-text">
                                Home
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'mypodcasts:list-create' %}">
                        <div class="nav-button">
                            <div class="nav-button-icon"></div>
                            <div class="nav-button-text">
                                My Podcasts
                            </div>
                        </div>
                    </a>
                    <a href="{% url 'mypodcasts:episodes-add' %}">
                        <div class="nav-button">
                            <div class="nav-button-icon"></div>
                            <div class="nav-button-text">
                                Add Episodes
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    {% if user.is_authenticated %}
                        <form method="POST" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            <div class="nav-button nav-button-bottm">
                                <div class="nav-button-icon"></div>
                                <button type="submit" class="nav-button-text"
                                        style="background: none;border: none;color: white">
                                    Log out
                                </button>
                            </div>
                        </form>
                    {% else %}
                        <a href="{% provider_login_url "google" next="/" %}">
                            <div class="nav-button nav-button-bottm">
                                <div class="nav-button-icon"></div>
                                <div class="nav-button-text">Login</div>
                            </div>
                        </a>
                    {% endif %}
                </li>
            </menu>
        </div>
    {% endblock nav %}
</div>
<main>
    <div class="logo-name blur-block box-shadow">
        <div class="blur-blur"></div>
        <div class="blur-transparency-logo white"></div>
        <div class="blur-conteiner p-15">
            <a href="{% url 'index' %}">VIDEO2CAST</a>
        </div>
    </div>

    <div class="content box-shadow" id="content">
        {% block content %}

        {% endblock content %}
    </div>

    <footer>
        <address class="footer-text">
            © 2019 Video2Cast.com
            <nav>
                <a href="{% url 'privacy_policy' %}">Privacy policy</a>
            </nav>
        </address>
    </footer>
</main>
<script src="{% static 'scripts/jquery-3.4.1.min.js' %}"></script>
<script src="{% static 'scripts/main.js' %}"></script>
{% block js %}
{% endblock js %}
</body>
﻿
</html>
