{% extends 'main.html' %}
{% block title %}Privacy policy{% endblock title %}
{% block content %}
    <h1>Privacy policy</h1>
    <div class="privacy-block">
        <h2 class="privacy-titel">1. INFORMATION COLLECTED BY US</h2>
        <div class="liner-b"></div>
        <div class="privacy-text">
            <h3>We collect the following information.</h3>
            <h3>Information you provide us directly:</h3>
            <ul>
                <li><p>Your email the address entered when logging
                    into your YouTube account via Video2Cast.</p></li>
                <li><p>Correspondence between you and Video2Cast.
                    For example, we can send you an emails related
                    to the Service (such as registration confirmation,
                    information about changes and updates to the
                    functions of the Service, technical notices and
                    safety notices). Please note that you can not
                    refuse to receive emails associated with the
                    Service.</p></li>
            </ul>
            <h3>Analytical information:</h3>
            <ul>
                <li><p>We use third-party analysis tools to assess
                    traffic and trends in the use of the Service.
                    These tools collect information sent by your
                    device or our Service, including data on the
                    pages you visited, browser extensions, and other
                    information that can help us improve the Service.
                    We collect and use this analytical information
                    in conjunction with the analytical information
                    obtained from other Users, in such a way that
                    on its basis it is objectively impossible to
                    determine the identity of a particular User.</p></li>
            </ul>
            <h3>Cookies and similar technologies:</h3>
            <ul>
                <li><p>When you visit the Service, we may use cookies
                    and other similar technologies (for example,
                    web beacons and local storage) to collect
                    information about how you use Video2Cast and
                    provide you with relevant functions.</p></li>
            </ul>
        </div>
    </div>
    <div class="privacy-block">
        <h2 class="privacy-titel">2. HOW WE USE YOUR INFORMATION</h2>
        <div class="liner-b"></div>
        <div class="privacy-text">
            <p>In addition to some of the specific uses of the
                information described in this Privacy Policy, we
                may use the information obtained in order to:</p>
            <ul>
                <li>provide work, improve, test and monitor the
                    effectiveness of the Service;</li>
                <li>track metrics, such as total number of
                    visitors, traffic and demographic composition.</li>
            </ul>
        </div>
    </div>
    <div class="privacy-block">
        <h2 class="privacy-titel">3. TRANSFER OF YOUR INFORMATION</h2>
        <div class="liner-b"></div>
        <div class="privacy-text">
            <p>We do not provide or sell your information to third
                parties.</p>
        </div>
    </div>
    <div class="privacy-block">
        <h2 class="privacy-titel">4. YOUR “YouTube” ACCOUNT INFORMATION</h2>
        <div class="liner-b"></div>
        <div class="privacy-text">
            <p>Our service takes public information about your channel,
            as well as information about the video, access to which
            you give, agreeing to the terms of this policy. The service
            has “read-only” access to the  channel,  service cannot
            make any changes on the channel.</p>
        </div>
    </div>
    <div class="privacy-block">
        <h2 class="privacy-titel">5. OTHER SITES AND SERVICES</h2>
        <div class="liner-b"></div>
        <div class="privacy-text">
            <p>We are not responsible for the processing of information
                 from other sites or services that contain links to
                 ours. In addition, you agree that we do not control
                  and are not responsible for third parties to whom
                   you provide access to your User Content. If you
                   use a third-party site or service and give them
                   access to your User Content, then you do so at
                   your own risk.</p>
        </div>
    </div>
    <div class="privacy-block">
        <h2 class="privacy-titel">6. HOW TO CONTACT US</h2>
        <div class="liner-b"></div>
        <div class="privacy-text">
            <p>If you have any questions about the Privacy Policy or
                 the Service, find in the Help Center the appropriate
                  channel of communication with us.</p>
        </div>
    </div>
    <div class="privacy-block">
        <h2 class="privacy-titel">7. CHANGES TO PRIVACY POLICY</h2>
        <div class="liner-b"></div>
        <div class="privacy-text">
            <p>From time to time it may be necessary to amend this
                Privacy Policy or update it, for example, to reflect
                updates to the Service or the requirements of the
                law. We will notify you before making changes to
                this Privacy Policy and give you the opportunity to
                study the revised policy before continuing to use
                the Service. If you continue to use Video2Cast or
                the Service after making changes to the Privacy
                Policy, it will mean that you agree to such changes.</p>
        </div>
    </div>
{% endblock content %}