/* create-podcast */
header {
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    margin-bottom: 10px;
    height: 50px;
    min-width: 510px;
    background-color: #727272;
    -webkit-box-shadow: 6px 6px 12px -6px black;
    -moz-box-shadow: 6px 6px 12px -6px black;
    box-shadow: 6px 6px 12px -6px black;
}

.header-center {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input-name {
    padding: 0 5px 0 5px;
    border-radius: 10px 0 0 10px;
    border: none;
    outline: none;
    flex-grow: 5;
    font-size: 2rem;
    height: 80%;
    width: 200px;
}

.input-name-btn {
    transition: 0.2s;
    outline: none;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 0;
    font-size: 25px;
    flex-grow: 1;
    height: 80%;
}

.input-name-btn:hover {
    background-color: #c0c0c0;
}

.input-name-btn:active {
    background-color: #a0a0a0;
}

.header-right {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.add-podcast-btn {
    height: 80%;
    font-size: 2.1rem;
    color: #FFF;
    background: none;
    border: none;
    outline: none;
    -webkit-appearance: none;
    border-bottom: 2px solid white;
}

.add-podcast-btn:hover {
    background-color: #666666;
}

.add-podcast-btn:active {
    background-color: #808080;
}

.podcast-blox {
    min-width: 510px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    grid-gap: 10px;
    justify-content: center;
}

.podcast-block {
    position: relative;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    background-color: #ececec;
    border-radius: 5px;
    -webkit-box-shadow: 6px 6px 12px -6px black;
    -moz-box-shadow: 6px 6px 12px -6px black;
    box-shadow: 6px 6px 12px -6px black;
}

.podcast-block:hover .edit-podcast-btns {
    display: flex;
}

.podcast-block:hover {
    background-color: #d4d4d4;
}

.podcast-img {
    height: 200px;
    width: 200px;
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.podcast-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 5px;
}

.podcast-title {
    font-size: 2rem;
}

.podcast-count-episod {
    font-size: 1.5rem;
    opacity: 0.6;
}

.podcast-count-episod::after {
    content: 'episodes';
}

.edit-podcast-btns {
    transition: 0.2s;
    display: none;
    top: 0;
    right: 0;
    position: absolute;
    flex-direction: row;
}

.edit-podcast-btns div {
    margin: 2.5px;
    height: 30px;
    width: 30px;
    border-radius: 5px;
}

.edit-podcast-btn {}

.view-podcast-btn {

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 60%;
    background-image: url('../image/eye-icon.png');
    background-color: #d2ffcc;
}

.view-podcast-btn:hover {
    background-color: #bcffb2;
}

.view-podcast-btn:active {
    background-color: #e8ffe5;
}

.edit-podcast-btn {

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-image: url('../image/pencil-icon.png');
    background-color: #fffccc;
}

.edit-podcast-btn:active {
    background-color: #fffbb2;
}

.edit-podcast-btn:hover {
    background-color: #fffde5;
}

a {
    color: black;
}

#input-form {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.input-block {
    width: 300px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.input-title {
    font-size: 2rem;
}

.input-subtitle {
    font-size: 1.5rem;
    opacity: 0.6;
}

.input-text {
    height: 30px;
    width: 200px;
    border-radius: 5px;
    font-size: 2rem;
    border: 1px solid black;
    padding: 0 5px 0 5px;
}

.input-img {
    cursor: pointer;
    color: black;
    height: 30px;
    width: 200px;
    border: 1px solid black;
    border-radius: 100px;
    font-size: 1rem;
    border-radius: 2px;
    color: transparent;
    position: relative;
    z-index: 3;
}

.input-img-text {
    pointer-events: none;
    padding: 2px;
    font-size: 2rem;
    text-align: center;
    vertical-align: middle;
    color: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 4;
}

.input-img-hidden {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 2;
}

.img-preview {
    width: 300px;
    height: 300px;
    background-size: 100% cover;
}

select {
    width: 200px;
    height: 30px;
    font-size: 2rem;
}

.input-description {
    resize: vertical;
    width: 300px;
    max-height: 500px;
    min-height: 100px;
    font-size: 2rem;
}

.create-title {
    font-size: 2rem;
}

.create-btn {
    cursor: pointer;
    margin-top: 10px;
    height: 3rem;
    width: 15rem;
    background-color: #d2ffcc;
    text-align: center;
    font-size: 2.3rem;
    border-radius: 10px;
    border: 1px solid black;
}

.create-btn:hover {
    background-color: #bcffb2;
}

.create-btn:active {
    background-color: #e8ffe5;
}

#input-answ {
    font-size: 2rem;
    color: red;
}

.window_remove {
    z-index: 5;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.window_remove_hidden {
    background-color: black;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 6;
}

.window_remove_content {
    z-index: 7;
    top: 25%;
    right: 10%;
    bottom: 25%;
    left: 10%;
    position: absolute;
    background-color: white;
    border-radius: 10px;
    padding: 10px 5% 10px 5%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
    font-size: 2rem;
}

.window_field {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.btn_close {
    vertical-align: middle;
    border-radius: 10px;
    height: 50px;
    width: 50px;
    background-color: black;
    color: white;
    border: 1px solid white;
    cursor: pointer;
}

.btn_add_episods{
    background-color: #d2ffcc;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    color: black;
    border: none;
}

.btn_add_episods:active {
    background-color: #e8ffe5;
}

.btn_add_episods:hover{
    background-color: #bcffb2;
}

.window_title {
    font-size: 2.2rem;
    width: 100%;
    text-align: center;
}

.window_group_buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.btn-link {
    height: 75px;
    width: 75px;
    margin: 0 5px 0 5px;
    border-radius: 5px;
    border: 0.5px solid black;
    background-color: green;
}

.btn-link div {
    border-radius: 5px;
    width: 100%;
    height: 100%;
    background-size: contain;
    background-position: center;
}

.rss_link {
    width: 50%;
}

.apple-logo {
    background-image: url('../image/apple-podcast-logo.jpg');
}

.google-logo {
    background-image: url('../image/google-podcast-logo.png');
}

.spotify-logo {
    background-image: url('../image/spotify-podcast-logo.jpg');
}

#explicit {
    width: 25px;
    height: 25px;
}

.error {
    color: red;
    font-style: 1.5rem;
}

.window_remove {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.display_none {
    display: none;
}

.display_block {
    display: block;
}

.window_remove_content {
    top: 25%;
    right: 10%;
    bottom: 25%;
    left: 10%;
    position: absolute;
    background-color: white;
    z-index: 3;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.window_remove_text {
    font-size: 2rem;
}

.window_remove_group_button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.window_remove_group_button div {
    padding: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
}

.window_remove_button_cancel {
    background-color: #90ff7f;
}

.window_remove_button_cancel:hover {
    background-color: #7aff66;
}

.window_remove_button_cancel:active {
    background-color: #a6ff99;
}

.window_remove_button_apply {
    background-color: #ff7f7f;
}

.window_remove_button_apply:hover {
    background-color: #ff6666;
}

.window_remove_button_apply:active {
    background-color: #ff9999;
}

.window_remove_hidden {
    background-color: black;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.btn-delete {

    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 50%;
    background-image: url('../image/trashcan-icon.png');
    cursor: pointer;
    background-color: #ffcccc;
}


.btn-delete:hover {
    background-color: #ffe5e5;
}

.btn-delete:active {
    background-color: #ffb2b2;
}

.input-name-btn {
    transition: 0.2s;
    outline: none;
    border: none;
    border-radius: 0 10px 10px 0;
    padding: 0;
    font-size: 50%;
    flex-grow: 1;
    height: 80%;
    background-image: url('../image/search-icon.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25%;
    width: 60px;
}
