body {
    /*min-width: 1000px;*/
    font-family: 'Roboto', sans-serif;
    /* min-width: 890px; */
}

body, .blur-blur::before {
    background: url('../image/fon-1.jpg') fixed no-repeat;
    background-size: cover;
}

.blur-block-content {
    border-top: 1px solid black;
    position: relative;
    height: 100%;
}

.blur-block-header {
    border-bottom: 1px solid white;
    min-height: 100vh;
    height: 100vh;
}

.blur-blur {
    transition: 0.2s;
    height: 100%;
    width: 100%;
    position: absolute;
    overflow: hidden;
}

.blur-blur::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    filter: blur(3px);
}

.blur-blur-content {
    filter: blur(5px);
}

.blur-transparency {
    position: absolute;
    height: 100%;
    width: 100%;
}

.white {
    background-color: white;
    opacity: 0.3;
}

.black {
    background-color: black;
    opacity: 0.3;
}

.blur-conteiner {
    position: relative;
    height: 100%;
    width: 100%;
}

.podcast_header {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.podcast_block {
    height: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.podcast_block_img {
    background-color: white;
    min-width: 500px;
    max-width: 500px;
    height: 500px;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 10px black;
    -moz-box-shadow: 5px 5px 10px black;
    box-shadow: 5px 5px 10px black;
}

.podcast_block_img-img {
    height: 500px;
    width: 500px;
    border-radius: 10px;
}

.podcast_block_info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    color: black;
    text-align: center;
}

.podcast_block_authot {
    font-size: 2.5rem;
}

.podcast_block_name {
    font-size: 3.5rem;
}

.podcast_block_episods {
    font-size: 2rem;
}

.podcast_block_episods::after {
    content: 'episods'
}

.content {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.podcast_episode {
    position: relative;
    margin: 5px 0 25px 0;
    padding: 10px;
    width: 100%;
    height: auto;
    background-color: #e5e5e5;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    -webkit-box-shadow: 5px 5px 10px black;
    -moz-box-shadow: 5px 5px 10px black;
    box-shadow: 5px 5px 10px black;
}

.episode_header {
    flex-grow: 1;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
}

.btn-paly {
    height: 100%;
    width: 100%;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.icon-play {
    background-image: url('../image/play-episod.png');
}

.icon-pause {
    background-image: url('../image/pause-episod.png');
}

.episode_header_img_and_btn {
    margin: 5px;
    border-radius: 10px;
    height: 200px;
    min-width: 200px;
    max-width: 200px;
}

.episode_header_img {
    border-radius: 10px;
    height: 200px;
    width: 200px;
}

.episode_content {
    flex-grow: 4;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: left;
}

.episode_content_liner {
    border-radius: 5px;
    margin: auto;
    height: 1px;
    background-color: black;
    opacity: 0.7;
    width: 90%;
}

.episode_content_title {
    height: 116px;
    overflow: hidden;
    text-overflow:ellipsis;
    font-size: 3rem;
}

.episode_content_description {
    font-size: 2rem;
    overflow: hidden;
    margin: 5px;
}

.description-min {
    height: 120px;
}

.description-max {
    height: 100%;
}

.episode_content_description_btn {
    background-color: none;
    border: 1px solid black;
    width: 100%;
    font-size: 2rem;
    height: 35px;
    color: #a000cc;
}

.episode_footer {
    font-size: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.episode_action_btn {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 100% 0;
    right: 10px;
    justify-content: flex-end;
}

.episode_action_btn div {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid 1px;
    -webkit-box-shadow: 5px 5px 10px -6px black;
    -moz-box-shadow: 5px 5px 10px -6px black;
    box-shadow: 5px 5px 10px -6px black;
}

.btn-edit {
    background-color: #fcffcc;
}

.btn-edit:hover {
    background-color: #faffb2;
}

.btn-edit:active {
    background-color: #fdffe5;
}

.btn-confirm {
    background-color: #d2ffcc;
}

.btn-confirm:hover {
    background-color: #bcffb2;
}

.btn-confirm:active {
    background-color: #e8ffe5;
}

.btn-cancel {
    background-color: #fcffcc;
}

.btn-cancel:hover {
    background-color: #faffb2;
}

.btn-cancel:active {
    background-color: #fdffe5;
}

.btn-delete {
    background-color: #ffcccc;
}

.btn-delete:hover {
    background-color: #ffb2b2;
}

.btn-delete:active {
    background-color: #ffe5e5;
}

.input-title {
    width: 100%;
}

.input-description {
    resize: vertical;
    width: 660px;
}

.window_remove {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.display_none {
    display: none;
}

.display_block {
    display: block;
}

.window_remove_content {
    top: 25%;
    right: 10%;
    bottom: 25%;
    left: 10%;
    position: absolute;
    background-color: white;
    z-index: 3;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-around;
}

.window_remove_text {
    font-size: 2rem;
}

.window_remove_group_button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.window_remove_group_button div {
    padding: 15px;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 10px;
}

.window_remove_button_cancel {
    background-color: #90ff7f;
}

.window_remove_button_cancel:hover {
    background-color: #7aff66;
}

.window_remove_button_cancel:active {
    background-color: #a6ff99;
}

.window_remove_button_apply {
    background-color: #ff7f7f;
}

.window_remove_button_apply:hover {
    background-color: #ff6666;
}

.window_remove_button_apply:active {
    background-color: #ff9999;
}

.window_remove_hidden {
    background-color: black;
    opacity: 0.6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
}
